TLSv1.3 causes panic on certified FIPS 140-3 linux instances

Using an ubuntu certified AMI (which has a [FIPS 140-3 certification](https://ubuntu.com/blog/fips-140-3-for-ubuntu-22-04lts)), and the latest microsoft/go (v1.24.2 at the time of reporting), operations that require TLSv1.3 cause a panic.

This can be tested with the following program:
```go
package main

import (
        "crypto/tls"
        "log"
        "net/http"
)

func main() {
        client := http.Client{
                Transport: &http.Transport{
                        TLSClientConfig: &tls.Config{
                                MinVersion: tls.VersionTLS13,
                        },
                },
        }

        resp, err := client.Get("https://www.google.com")
        if err != nil {
                panic(err)
        }
        log.Default().Printf("Request status: %d\n", resp.StatusCode)
}
```

When executed with `GOEXPERIMENT=systemcrypto CGO_ENABLED=1 go run main.go`, the following panic occurs:

```
panic: EVP_KDF_derive
    openssl error(s):
    error:1C800069:Provider routines::invalid key length
        ../providers/implementations/kdfs/hkdf.c:163

goroutine 5 [running]:
crypto/tls/internal/tls13.ExpandLabel[...](0xc0000258c8, {0xc0000b4620, 0x20, 0x20}, {0x72c473, 0x2}, {0x0, 0x0, 0x0}, 0xc)
    /usr/local/go/src/crypto/tls/internal/tls13/tls13.go:41 +0x27f
crypto/tls.(*cipherSuiteTLS13).trafficKey(0x9b7540, {0xc0000b4620, 0x20, 0x20})
    /usr/local/go/src/crypto/tls/key_schedule.go:29 +0x10d
crypto/tls.(*halfConn).setTrafficSecret(0xc000190220, 0x9b7540, 0xc0000b45e0?, {0xc0000b4620?, 0x20?, 0x72e255?})
    /usr/local/go/src/crypto/tls/conn.go:234 +0x67
crypto/tls.(*clientHandshakeStateTLS13).establishHandshakeKeys(0xc000025c48)
    /usr/local/go/src/crypto/tls/handshake_client_tls13.go:525 +0x374
crypto/tls.(*clientHandshakeStateTLS13).handshake(0xc000025c48)
    /usr/local/go/src/crypto/tls/handshake_client_tls13.go:134 +0x73e
crypto/tls.(*Conn).clientHandshake(0xc000190008, {0x7a3c40, 0xc000192000})
    /usr/local/go/src/crypto/tls/handshake_client.go:379 +0x810
crypto/tls.(*Conn).handshakeContext(0xc000190008, {0x7a3c40, 0xc0000dc0f0})
    /usr/local/go/src/crypto/tls/conn.go:1568 +0x39a
crypto/tls.(*Conn).HandshakeContext(...)
    /usr/local/go/src/crypto/tls/conn.go:1508
net/http.(*persistConn).addTLS.func2()
    /usr/local/go/src/net/http/transport.go:1703 +0x6e
created by net/http.(*persistConn).addTLS in goroutine 20
    /usr/local/go/src/net/http/transport.go:1699 +0x309
exit status 2
```

Where the key length check from the OpenSSL provider is:
```c
int ossl_kdf_check_keylen(OSSL_LIB_CTX *ctx, size_t len)
{
#if !defined(OPENSSL_NO_FIPS_SECURITYCHECKS)
    if (ossl_securitycheck_enabled(ctx))
        return len >= 14;
#endif /* OPENSSL_NO_FIPS_SECURITYCHECKS */
    return 1;
}
```

but the nonce length is hard coded to 12 bytes.

Possibly related: https://github.com/microsoft/go/issues/1465

Thanks for reporting. I can't reproduce this issue on Azure Linux 3 using FIPS mode, but there is enough info in this issue to investigate. Will report back.

> Possibly related: https://github.com/microsoft/go/issues/1465

Don't think so, this is a failure while deriving a key with HKDF, not encrypting with AES GCM.

Looking at the stack traces, the `secret` parameter (aka the pseudo random key) length passed to `hkdf.Expand` is 32 bytes, which is longer than the minimum of 14 bytes required by FIPS 140-3 (as per [NIST.SP.800-131Ar2](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-131Ar2.pdf)). The `length` parameter (aka nonce/iv length in this step of the TLS 1.3 handshake) is 12 bytes, which is shorter than 14 bytes, but AFAIK there is no restriction on the derived key length. Note that the 12-byte nonce is expected, as that's the AEAD nonce length defined in RFC 8446, Section 7.

I've tested with the OpenSSL FIPS provider and the SymCrypt provider, and they both successfully derive a key. Canonical might have patched the HKDF EVP_KDF algorithm to restrict the output key length given that the `ossl_kdf_check_keylen` function you shared doesn't exist in the OpenSSL repo, but can't confirm because the Canonical Pro patches are behind a paywall.

I'm aware that OpenSSL provides the [TLS 1.3 EVP_KDF](https://docs.openssl.org/master/man7/EVP_KDF-TLS13_KDF/) algorithm, which is an specialization of the [HKDF EVP_KDF](https://docs.openssl.org/master/man7/EVP_KDF-HKDF/) algorithm (the one we use) just for TLS 1.3. I suppose that Canonical doesn't perform the `ossl_kdf_check_keylen` check if using that algorithm. AFAIK, it is valid to perform the TLS 1.3 steps outside of the FIPS module boundary (see https://atsec-information-security.blogspot.com/2021/03/the-impact-of-tls-13-and-acvts-on-fips.html), so our implementation is compliant with FIPS 140-3, although not compatible with the Canonical OpenSSL FIPS module due to it being more strict on the HKDF key length output.

@michel-laterman you probably have the Canonical OpenSSL FIPS provider source code in your ubuntu certified AMI. Can you check if my asumptions are correct?



Yes, your asumption is correct:

```c
static int kdf_hkdf_derive(void *vctx, unsigned char *key, size_t keylen,
                           const OSSL_PARAM params[])
{
    KDF_HKDF *ctx = (KDF_HKDF *)vctx;
    OSSL_LIB_CTX *libctx = PROV_LIBCTX_OF(ctx->provctx);
    const EVP_MD *md;

    if (!ossl_prov_is_running() || !kdf_hkdf_set_ctx_params(ctx, params))
        return 0;

    if (!ossl_kdf_check_keylen(libctx, keylen)) {
        ERR_raise(ERR_LIB_PROV, PROV_R_INVALID_KEY_LENGTH);
        return 0;
    }

    md = ossl_prov_digest_md(&ctx->digest);
    if (md == NULL) {
        ERR_raise(ERR_LIB_PROV, PROV_R_MISSING_MESSAGE_DIGEST);
        return 0;
    }
    if (ctx->key == NULL) {
        ERR_raise(ERR_LIB_PROV, PROV_R_MISSING_KEY);
        return 0;
    }
    if (keylen == 0) {
        ERR_raise(ERR_LIB_PROV, PROV_R_INVALID_KEY_LENGTH);
        return 0;
    }

    switch (ctx->mode) {
    case EVP_KDF_HKDF_MODE_EXTRACT_AND_EXPAND:
    default:
        return HKDF(libctx, md, ctx->salt, ctx->salt_len,
                    ctx->key, ctx->key_len, ctx->info, ctx->info_len, key, keylen);

    case EVP_KDF_HKDF_MODE_EXTRACT_ONLY:
        return HKDF_Extract(libctx, md, ctx->salt, ctx->salt_len,
                            ctx->key, ctx->key_len, key, keylen);

    case EVP_KDF_HKDF_MODE_EXPAND_ONLY:
        return HKDF_Expand(md, ctx->key, ctx->key_len, ctx->info,
                           ctx->info_len, key, keylen);
    }
}

static int kdf_tls1_3_derive(void *vctx, unsigned char *key, size_t keylen,
                             const OSSL_PARAM params[])
{
    KDF_HKDF *ctx = (KDF_HKDF *)vctx;
    const EVP_MD *md;

    if (!ossl_prov_is_running() || !kdf_tls1_3_set_ctx_params(ctx, params))
        return 0;

    md = ossl_prov_digest_md(&ctx->digest);
    if (md == NULL) {
        ERR_raise(ERR_LIB_PROV, PROV_R_MISSING_MESSAGE_DIGEST);
        return 0;
    }

    switch (ctx->mode) {
    default:
        return 0;

    case EVP_KDF_HKDF_MODE_EXTRACT_ONLY:
        return prov_tls13_hkdf_generate_secret(PROV_LIBCTX_OF(ctx->provctx), md,
                                               ctx->salt, ctx->salt_len,
                                               ctx->key, ctx->key_len,
                                               ctx->prefix, ctx->prefix_len,
                                               ctx->label, ctx->label_len,
                                               key, keylen);

    case EVP_KDF_HKDF_MODE_EXPAND_ONLY:
        return prov_tls13_hkdf_expand(md, ctx->key, ctx->key_len,
                                      ctx->prefix, ctx->prefix_len,
                                      ctx->label, ctx->label_len,
                                      ctx->data, ctx->data_len,
                                      key, keylen);
    }
}
```

The checks canonical does is more strict.

You can work around this issue by disabling TLS 1.3. The real fix is adding support for the [TLS 1.3 EVP_KDF](https://docs.openssl.org/master/man7/EVP_KDF-TLS13_KDF/) algorithm in the OpenSSL backend: https://github.com/golang-fips/openssl and using it from the Microsoft build of Go if someone (you? Canonical?) do the work of supporting this new KFD algorithm and validating that it works on Ubuntu Pro FIPS.

https://github.com/golang-fips/openssl/pull/272

@qmuntal the canonical patch restricts to 14 bytes by testing `keylen`, which I believe is the desired final length of the output key. 

golang/go seems to restrict based on the length of the pseudorandom *input* key:

https://github.com/golang/go/blob/71d9505998fe224ebb7380616392f71f7ebf26bf/src/crypto/hkdf/hkdf.go#L77-L79

Think that's a bug?



I think that the Go implementation is correct, and that canonical is being too strict by limiting the length of the output key, as [NIST.SP.800-131Ar2](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-131Ar2.pdf) only sets limits on the HKDF inputs, not on the output.

https://github.com/microsoft/go/pull/1654

@qmuntal when do you think new docker images will be published?

We don't ship any Docker images with `microsoft/main`, so if we don't do anything else, it'll roll up into 1.25.0 later this year. A backport and new release seems like a reasonable request to me, though.

If you want to see it in 1.23 and 1.24, the first backport would be for https://github.com/golang-fips/openssl/tree/ms-go1.23-support, and we (probably @qmuntal) would need to create a 1.24 support branch there too. Once that's merged, a backport to the release branches in this repo. Then I can start a release flow.

(Just making a 1.24 port without 1.23 would be fine by me if that's the only version that's really in use here.)

> If you want to see it in 1.23 and 1.24

Let's focus on Go 1.24 for now and ignore Go 1.23 if that's not needed.

> the first backport would be for https://github.com/golang-fips/openssl/tree/ms-go1.23-support, and we (probably @qmuntal) would need to create a 1.24 support branch there too

I've just created the Go 1.24 support branch: https://github.com/golang-fips/openssl/tree/ms-go1.24-support.

> Once that's merged, a backport to the release branches in this repo.

@nicholasberlin this backport is on you, we will act as reviewers here given that our team is not particularly interested in pushing this forward (but happy to receive external contributions!).

> Then I can start a release flow.

Better align with an upstream release so we don't cause unnecessary upgrades to our internal costumers.






Additionally, if this is backported it should be gated behind a new goexperiment (maybe `ms_kdftls13`?) so that we don't modify the behavior in a patch release of other costumers than don't care if they use HKDF in TLS 1.3 handshakes. 

> Better align with an upstream release so we don't cause unnecessary upgrades to our internal costumers.

True, and for context, I'd expect this to be on Tues next week (May 6).

Thanks for the info, I've reread it about 20 times 😅 

First, we don't care about 1.23 either.

I'm confused by this branch https://github.com/golang-fips/openssl/tree/ms-go1.24-support.
I see that it was just created but the head is from 3 months ago, why?
Do you plan to merge `v2` into it?

Creating a backport branch would basically be the same process as the branch against main, right?
Except using the result of the `ms-go1.24-support` merge, right?

Can you point me to a `goexperiment` example commit?

What happens on May 6? Does that mean we should have the backport branch created, reviewed, and merged to microsoft/go by then?

Thanks.



> I'm confused by this branch https://github.com/golang-fips/openssl/tree/ms-go1.24-support. I see that it was just created but the head is from 3 months ago, why? Do you plan to merge `v2` into it?

The branch is set up to point at what the microsoft/go 1.24 release branch is [currently pointing at](https://github.com/microsoft/go/blob/d5d242dc3827ce3ee8f52157ac3825783a2b713a/patches/0002-Vendor-crypto-backends.patch#L234C61-L234C73). By backporting to it (cherry picking or manually, not merging) it's easier to make sure that a backport won't destabilize 1.24 by pulling in other changes. We don't plan to add to it ourselves at the moment, but it's ready for contributions.

> Creating a backport branch would basically be the same process as the branch against main, right? Except using the result of the `ms-go1.24-support` merge, right?

Yep, a git cherry-pick may give you a starting point, but in any case, reapplying the changes onto the support branch and to microsoft/go are the next steps.

> Can you point me to a `goexperiment` example commit?

Check out `src/internal/goexperiment/flags.go` and https://github.com/microsoft/go/blob/microsoft/main/patches/0001-Add-crypto-backend-GOEXPERIMENTs.patch.

> What happens on May 6? Does that mean we should have the backport branch created, reviewed, and merged to microsoft/go by then?

We expect upstream to make a 1.24.3 release, and if so, we'll make a 1.24.3-1 release of our repo that incorporates the upstream changes. If all this work is done by then, it'll make it into 1.24.3-1 because this feature will be sitting in the branch at that time.

(The next upstream release after that is expected June 2.)

https://github.com/golang-fips/openssl/pull/260 is often required to have success with TLS offload.

@xnox are you suggesting that [PR](https://github.com/golang-fips/openssl/pull/260) be back-ported as well? We only observed issues with expand, I'm guessing there are edge cases?

Looks easy enough to add to https://github.com/golang-fips/openssl/pull/276

> @xnox are you suggesting that [PR](https://github.com/golang-fips/openssl/pull/260) be back-ported as well? We only observed issues with expand, I'm guessing there are edge cases?
> 
> Looks easy enough to add to https://github.com/golang-fips/openssl/pull/276

Without it, many modules fail Ubuntu 20.04 22.04 FIPS, Wolfcrypt, and others.

24.04 FIPS is not public yet, but is likely affected too.

Ok, thanks for the heads up. Added a cherry-pick to https://github.com/golang-fips/openssl/pull/276

microsoft/go 1.24 backport PR: https://github.com/microsoft/go/pull/1662

Hey folks. I believe this issue should be fixed starting with release v1.24.3-1. However, I'm still seeing this on a FIPS Ubuntu 22.04. Here's some info about the machine:
```
root@fips-vm:~# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.5 LTS
Release:	22.04
Codename:	jammy

root@fips-vm:~# cat /proc/sys/crypto/fips_enabled
1

root@fips-vm:~# pro status
SERVICE          ENTITLED  STATUS       DESCRIPTION
anbox-cloud      yes       disabled     Scalable Android in the cloud
esm-apps         yes       disabled     Expanded Security Maintenance for Applications
esm-infra        yes       disabled     Expanded Security Maintenance for Infrastructure
fips-updates     yes       enabled      FIPS compliant crypto packages with stable security updates
livepatch        yes       disabled     Canonical Livepatch service
realtime-kernel* yes       disabled     Ubuntu kernel with PREEMPT_RT patches integrated
usg              yes       disabled     Security compliance and audit tools

root@fips-vm:~# snap list core22
Name    Version        Rev   Tracking             Publisher   Notes
core22  20250320+fips  1914  fips-updates/stable  canonical✓  base
...

root@fips-vm:~# echo hi | openssl sha256
SHA256(stdin)= 98ea6e4f216f2fb4b69fff9b3a44842c38686ca685f3f55dc48c5d3fb1107be4
root@fips-vm:~# echo hi | openssl md5
Error setting digest
4097D8A24B7F0000:error:0308010C:digital envelope routines:inner_evp_generic_fetch:unsupported:../crypto/evp/evp_fetch.c:349:Global default library context, Algorithm (MD5 : 101), Properties ()
4097D8A24B7F0000:error:03000086:digital envelope routines:evp_md_init_internal:initialization error:../crypto/evp/digest.c:254:
``` 
Here is the result of running the Go script in the beginning of this issue with both `systemcrypto` and `opensslcrypto` and Go 1.24.6-1 :

```
root@fips-vm:~# tar -C /usr/local -xzf go1.24.6-1.linux-amd64.tar.gz
root@fips-vm:~# go version
go version go1.24.6 linux/amd64
root@fips-vm:~# GOEXPERIMENT=opensslcrypto CGO_ENABLED=1 go run tls.go
panic: EVP_KDF_derive
	openssl error(s):
	error:1C800069:Provider routines::invalid key length
		../providers/implementations/kdfs/hkdf.c:163

goroutine 34 [running]:
crypto/tls/internal/tls13.ExpandLabel[...](0xc0000278c8, {0xc0001a4220, 0x20, 0x20}, {0x72ea8b, 0x2}, {0x0, 0x0, 0x0}, 0xc)
	/usr/local/go/src/crypto/tls/internal/tls13/tls13.go:54 +0x27f
crypto/tls.(*cipherSuiteTLS13).trafficKey(0x9bc5c0, {0xc0001a4220, 0x20, 0x20})
	/usr/local/go/src/crypto/tls/key_schedule.go:29 +0x10d
crypto/tls.(*halfConn).setTrafficSecret(0xc0001ac220, 0x9bc5c0, 0xc0001a41e0?, {0xc0001a4220?, 0x20?, 0x730893?})
	/usr/local/go/src/crypto/tls/conn.go:234 +0x67
crypto/tls.(*clientHandshakeStateTLS13).establishHandshakeKeys(0xc000027c48)
	/usr/local/go/src/crypto/tls/handshake_client_tls13.go:525 +0x374
crypto/tls.(*clientHandshakeStateTLS13).handshake(0xc000027c48)
	/usr/local/go/src/crypto/tls/handshake_client_tls13.go:134 +0x73e
crypto/tls.(*Conn).clientHandshake(0xc0001ac008, {0x7a66a0, 0xc0001b0000})
	/usr/local/go/src/crypto/tls/handshake_client.go:379 +0x810
crypto/tls.(*Conn).handshakeContext(0xc0001ac008, {0x7a66a0, 0xc0001120f0})
	/usr/local/go/src/crypto/tls/conn.go:1568 +0x39a
crypto/tls.(*Conn).HandshakeContext(...)
	/usr/local/go/src/crypto/tls/conn.go:1508
net/http.(*persistConn).addTLS.func2()
	/usr/local/go/src/net/http/transport.go:1703 +0x6e
created by net/http.(*persistConn).addTLS in goroutine 6
	/usr/local/go/src/net/http/transport.go:1699 +0x309
exit status 2
root@fips-vm:~# GOEXPERIMENT=systemcrypto CGO_ENABLED=1 go run tls.go
panic: EVP_KDF_derive
	openssl error(s):
	error:0308010C:digital envelope routines::unsupported
		../crypto/evp/evp_fetch.c:349
	error:1C800069:Provider routines::invalid key length
		../providers/implementations/kdfs/hkdf.c:163

goroutine 36 [running]:
crypto/tls/internal/tls13.ExpandLabel[...](0xc0000278c8, {0xc0000be2e0, 0x20, 0x20}, {0x72ea8b, 0x2}, {0x0, 0x0, 0x0}, 0xc)
	/usr/local/go/src/crypto/tls/internal/tls13/tls13.go:54 +0x27f
crypto/tls.(*cipherSuiteTLS13).trafficKey(0x9bc5c0, {0xc0000be2e0, 0x20, 0x20})
	/usr/local/go/src/crypto/tls/key_schedule.go:29 +0x10d
crypto/tls.(*halfConn).setTrafficSecret(0xc00013a220, 0x9bc5c0, 0xc0000be2a0?, {0xc0000be2e0?, 0x20?, 0x730893?})
	/usr/local/go/src/crypto/tls/conn.go:234 +0x67
crypto/tls.(*clientHandshakeStateTLS13).establishHandshakeKeys(0xc000027c48)
	/usr/local/go/src/crypto/tls/handshake_client_tls13.go:525 +0x374
crypto/tls.(*clientHandshakeStateTLS13).handshake(0xc000027c48)
	/usr/local/go/src/crypto/tls/handshake_client_tls13.go:134 +0x73e
crypto/tls.(*Conn).clientHandshake(0xc00013a008, {0x7a66a0, 0xc00012c140})
	/usr/local/go/src/crypto/tls/handshake_client.go:379 +0x810
crypto/tls.(*Conn).handshakeContext(0xc00013a008, {0x7a66a0, 0xc0000e40f0})
	/usr/local/go/src/crypto/tls/conn.go:1568 +0x39a
crypto/tls.(*Conn).HandshakeContext(...)
	/usr/local/go/src/crypto/tls/conn.go:1508
net/http.(*persistConn).addTLS.func2()
	/usr/local/go/src/net/http/transport.go:1703 +0x6e
created by net/http.(*persistConn).addTLS in goroutine 20
	/usr/local/go/src/net/http/transport.go:1699 +0x309
exit status 2
```
Am I missing something? 

> Hey folks. I believe this issue should be fixed starting with release v1.24.3-1. However, I'm still seeing this on a FIPS Ubuntu 22.04. Here's some info about the machine:

Please contact Ubuntu Pro support with this query - they provide both the fips provider, and the go-fips toolchains with openssl bindings as a snap which should work correctly together.

Thanks for the response @xnox. Just to clarify, I'm using a Go that's downloaded from this repo, not something that's shipped with Ubuntu or the snaps. Are you suggesting that I'm supposed to use the snap?

> Thanks for the response @xnox. Just to clarify, I'm using a Go that's downloaded from this repo, not something that's shipped with Ubuntu or the snaps. Are you suggesting that I'm supposed to use the snap?

I am suggesting you should seek support from the provider of your openssl FIPS. The build that Canonical provides is custom patched and has different behaviour from all other OpenSSL FIPS provider implementations. Support for it is only provided by Canonical, and is out of scope for Microsoft / this project.

Thank you. To follow up on this, I figured that this fix is an opt-in fix, so I needed to provide the `-tags=ms_tls13kdf` flag.

> this fix is an opt-in fix, so I needed to provide the `-tags=ms_tls13kdf` flag.

Quick note about this: this is true for the backport to the 1.24 branch (https://github.com/microsoft/go/pull/1662), to avoid a compat break; the main/1.25 PR (https://github.com/microsoft/go/pull/1654) doesn't require the tag. (But no prebuilts are available for 1.25 yet.)